<h1 class="title_cart">Cheque suas Compras</h1>
<div id="container_banner" class="container-sm">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img class="banner_Products"
          src="https://images.pexels.com/photos/913136/pexels-photo-913136.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="container-sm">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <table class="table-primary">
          <thead>
            <tr>
              <th scope="col-3">#ID</th>
              <th scope="col-3">Product Image</th>
              <th scope="col-3">Product Name</th>
              <th scope="col-3">Quantity</th>
              <th scope="col-3">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <img
                  class="avatar_table"
                  src="https://images.pexels.com/photos/140831/pexels-photo-140831.jpeg?auto=compress&cs=tinysrgb&w=600"
                  alt=""
                />
              </td>
              <td>Bolo Chocolate</td>
              <td>2 Und</td>
              <td>R$120,00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <img
                  class="avatar_table"
                  src="https://images.pexels.com/photos/140831/pexels-photo-140831.jpeg?auto=compress&cs=tinysrgb&w=600"
                  alt=""
                />
              </td>
              <td>Bolo Laranja</td>

              <td>1 Und</td>
              <td>R$80,00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <img
                  class="avatar_table"
                  src="https://images.pexels.com/photos/140831/pexels-photo-140831.jpeg?auto=compress&cs=tinysrgb&w=600"
                  alt=""
                />
              </td>
              <td>Bolo Baunilha</td>

              <td>5 Und</td>
              <td>R$500,00</td>
            </tr>
          </tbody>
         <div class="row">
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger">Cancelar</button>
          <button class="btn btn-success">Esvaziar</button>
         </div>
        </table>
      </div>
    </div>
  </div>
</div>
