<div class="container text-center">
  <h1 class="title_products">Conheca Nossos Produtos Campeoes de Vendas</h1>
  <div class="row">
    <div class="col">
      <div class="container-sm">
        <div class="container_header">
          <img class="imagem_card_header"
      src="https://images.pexels.com/photos/1277202/pexels-photo-1277202.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="">
        </div>
        <p class="pg_container">products works!</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Adcionar</button>

        </div>

        <div class="row">
          <button type="button" class="btn btn-danger">Excluir</button>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-sm">
        <div class="container_header">
          <img class="imagem_card_header"
      src="https://images.pexels.com/photos/806363/pexels-photo-806363.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="">
        </div>
        <p class="pg_container">products works!</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Adcionar</button>

        </div>

        <div class="row">
          <button type="button" class="btn btn-danger">Excluir</button>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-sm">
        <div class="container_header">
          <img class="imagem_card_header"
      src="https://images.pexels.com/photos/1098592/pexels-photo-1098592.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="">
        </div>
        <p class="pg_container">products works!</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Adcionar</button>

        </div>

        <div class="row">
          <button type="button" class="btn btn-danger">Excluir</button>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container-sm">
        <div class="container_header">
          <img class="imagem_card_header"
      src="https://images.pexels.com/photos/461431/pexels-photo-461431.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="">
        </div>
        <p class="pg_container">products works!</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Adcionar</button>

        </div>

        <div class="row">
          <button type="button" class="btn btn-danger">Excluir</button>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-sm">
        <div class="container_header">
          <img class="imagem_card_header"
      src="https://images.pexels.com/photos/1120464/pexels-photo-1120464.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="">
        </div>
        <p class="pg_container">products works!</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Adcionar</button>

        </div>

        <div class="row">
          <button type="button" class="btn btn-danger">Excluir</button>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-sm">
        <div class="container_header">
          <img class="imagem_card_header"
      src="https://images.pexels.com/photos/827513/pexels-photo-827513.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="">
        </div>
        <p class="pg_container">products works!</p>
        <div class="row">
          <button type="button" class="btn btn-primary">Adcionar</button>

        </div>

        <div class="row">
          <button type="button" class="btn btn-danger">Excluir</button>

        </div>
      </div>
    </div>
  </div>
</div>
