<div class="main">
  <h1 class="title_home">Sejam Bem Vindos a Jony's Bakery</h1>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <app-carousel-one></app-carousel-one>
        <app-carousel-two></app-carousel-two>
      </div>
      <div class="row">
        <div class="container">
          <div class="container_Video">
            <app-video></app-video>
          </div>
        </div>
      </div>

      <app-container-pedidos></app-container-pedidos>
    </div>
  </div>
</div>
